## Ignore Visual Studio / .NET build artifacts
[Ob]j/
[Bb]in/
*.user
*.useros
*.sln.docstates
.vs/
.vscode/
*.userprefs

## User-specific files
*.rsuser
*.suo
*.user
*.useros
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][In]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Lg]og/
[Lg]ogs/

## Environment / Config overrides
appsettings*.local.json
